<html>
    <head>
        <title>Test Taran</title>
        <!-- Только CSS -->
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="mb-auto">
            <div>
              <h3 class="float-md-start mb-0">Тестовое Таран Ю.П.</h3>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active text-white" aria-current="page" href="/description"><h3><b>Description |</b></h3></a>
                <a class="nav-link text-white" href="/part-1"><h3><b>Part 1</b></h3></a>
                <a class="nav-link text-info" href="/part-2"><h3><b>Part 2</b></h3></a>
                <a class="nav-link text-danger" href="/part-3"><h3><b>Part 3</b></h3></a>
                <a class="nav-link text-danger" href="/data-fill"><h3><b>| db</b></h3></a>
              </nav>
            </div>
          </header>

          <main class="px-3">
            {% block content %}
            {% endblock %}
          </main>
        
          <footer class="mt-auto text-white-50">
            <p>Сделано конечно тяп-ляп но с душой</p>
          </footer>
        </div>
        
        </body>
        <!-- Пакет JavaScript с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>