{% extends "base.html" %}

{% block content %}
    <div class="accordion" id="accordionExample">
        {% for part in description %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{part.title}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for item in part.body %}
                        <p class='text-secondary'>{{item}}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}